.TableInformation{
    width: 100%;
    min-height: 100vh;
    padding: 10px 30px;
}

.searchContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    background-color: #282c34;
}

.searchContainer > Button{
    width: fit-content;
    border-radius: 5px;
    font-size: 15px;
    text-transform: capitalize;
    border: none !important; 
    padding: 7px 20px;
}

.searchContainer > Button:nth-child(2){
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.tableContainer {
    width: 100%;
    height: calc(100vh - 15vh);
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: aliceblue;
}

.deleteTableContainer{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}


.addRowWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

.addRowContainer > form > Button {
    width: fit-content;
    border-radius: 5px;
    font-size: 15px;
    text-transform: capitalize;
    border: none !important; 
    padding: 7px 20px;
    margin: 10px 0px;
}
