*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

h3{
  font-size: 2.5rem;
  margin-bottom: 15px;
}

h5{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  margin: 5px 0;
}